language: ruby
rvm:
  - 2.7
services:
  - docker
script:
  - make
deploy:
  provider: rubygems
  api_key: "${RUBYGEMS_API_KEY}"
  on:
   all_branches: true
   condition: $TRAVIS_BRANCH =~ ^develop|master &&  $TRAVIS_EVENT_TYPE =~ ^push|api$ && $TRAVIS_REPO_SLUG == "theonestack/cfhighlander"
